.invert #kaards {
    background-color: #2e2e2e;
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.invert .table-dark {
    background-color: #5c5c5c;
}


.invert #table-darkk {

    color: white;

}

.btn-secondary {
    color: #000000;
    background-color: #fff80000;
    border-color: #6c757d00;
    font-size: 25px;
    text-align: left!important;
}

.btn-secondary:hover {
    color: #000000;
    background-color: #00000000;
    border-color: #6c757d00;

}

.invert .btn-secondary:hover {
    color: #ffffff;
    border-color: #6c757d00;
    background-color: #00000000;

}

.invert .btn-secondary {
    border-color: #6c757d00;
    color: #ffffff;

}

.table-dark {
    text-align: center;

}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
     box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0);
     border-color: #6c757d00;
}



.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #909090;
    background-color: #545b6200;
    border-color: #5895c900;
}

.btn-secondary:active {
    outline: none;
    border: none;
}

/* .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b6200;
    border-color: #5895c900;
} */

.invert #vecaisdrop {
    background: linear-gradient(to right, #343434, #575757);;
    color: white;
}

/* .invert .dropdown-item {
    background: linear-gradient(to right, #343434, #575757);;

    color: #ffffff;
}

.dropdown-menu {
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
} */

body {
    background: linear-gradient(to right, #ffffff, #d1d1d1);
}

.invert body {
    background: linear-gradient(to right, #343434, #575757);
}

/* .invert .dropdown-menu {
    color: #ffffff;
    background-color: #2d2d2d;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-item {
    color: #000000;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #c0c0c0;
}
 */


#table-darkk {
    font-size: 20px;
    text-align: center;
}

.invert .table-bordered td, .invert .table-bordered th {
    border: 1px solid #ffffff12;
}


.invert .table-striped>tbody>tr:nth-of-type(odd)>* {
    color: white;
}

.stails {
    display: flex;
    justify-content: space-around;
}

.stailss {
    display: flex;
    justify-content: space-around;
    max-height: 50px;
}



th {
    width: 200px;

}



  td {

    vertical-align: middle!important;
  }

.sus {
    display: flex;
}

#kaards {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}
