


.dark mode colors  {

    /* Items */
    background: #575757;

    /* Background */
    background: #464646;
}



.light mode colors {

    /* Items */
    background: #ffffff;

    /* Background */
    background: #e9e9e9;
}


