body {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #ffffff, #ededed);
  }

  .invert {
    color: white;
    background: linear-gradient(to right, #343434, #575757);
  }

  .card-title {
    color: #000!important;
  }

  .invert .card-title {
    color: #ffffff!important;
  }
  #cardteksts {
    color: #000;
    background: linear-gradient(to right, #ffffff,#ffffff);



  }

  .invert #cardteksts {
    color: #ffffff;
    background: #575757;
  }

  .invert #cardmb3 {
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%)!important;
  }

  #cardmb3 {
    border: none!important;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
  }

  @media (max-width: 767px){
      #cardteksts {
        border-bottom-left-radius: 15px!important;
        border-bottom-right-radius: 15px!important;
      }
    }

    @media (min-width: 767px){
        #cardteksts {
          border-top-right-radius: 15px!important;
          border-bottom-right-radius: 15px!important;
        }
      }

      .mb-3, .my-3 {
        margin-bottom: 3rem!important;
    }

  #rod2 {
    width: 120px;
    height: 120px;
    filter: brightness(0) invert(0);
  }
  .uu1 {
    padding-bottom: 19px;
    padding-top: 12px;
  }


  .de {
    padding-bottom: 10px;
  }

  #vajg1 {
    padding-top: 3px;
  }

  #vajg2 {
    padding-top: 3px;
  }
  .uu2 {
    padding-top: 12px;
  }


  .ded {


    display:flex;
  }


  .pb-4, .py-4 {
    padding-top: 0px!important;
  }

  .pb-4, .py-4 {
    padding-bottom: 0px!important;
}

  .imagewww {
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  @media (min-width: 1680px){
  .container {
      max-width: 100%;
      padding-top: 80px;
      padding-bottom: 50px;
  }}

  @media (min-width: 1680px){
    .container {
        padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    padding-top: 90px;
    }}


  @media (MAX-width: 767px){
    #goodinportrait {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }}

    @media (MIN-width: 767px){
        #goodinportrait {
            border-top-left-radius: 15px;
            border-BOTTOM-LEFT-radius: 15px;

        }}

  @media (max-width: 1680px){
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }}
  /* @media (min-width: 1200px){
  .container {
      max-width: 1140px;
  }}
  @media (min-width: 992px){
  .container {
      max-width: 960px;
  }}
  @media (min-width: 768px){
  .container {
      max-width: 720px;
  }}
  @media (min-width: 576px){
  .container {
      max-width: 540px;
  }} */


  /* @media (max-width: 1680px){
        .row {
            width: 1269px;
        }
    } */



  .cardimg {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .cardimg1 {
    filter: contrast(150%);
  }

  input {
    width: 0;
    height: 0;
  }

  .beigaas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  svg {
    fill: none;
  }

  .imagew {
    position: absolute;
    z-index: -1;
    /* filter: brightness(120%); */
  }

  /* body {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #ffffff, #d1d1d1)
  } */




  .btn-info {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }

  #ir2 {
    background-color: #e4e4e4;
    padding-bottom: 20px;
    width: 250px;
    float: left;
    margin: 20px;

    /* border: 1.5px solid; */

    /* border-top: 0;
    border-bottom: 0; */

    /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1; */
    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);;

    /* margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px; */
  }

  .invert .blade {
    background: #464646!important;
    }

    .blade {
        background: #e9e9e9!important;
        }

  #rod1 {
    width: 95px;
    height: 95px;
    filter: brightness(0) invert(0);

  }

  #rod3 {
    width: 135x;
    height: 135px;
    filter: brightness(0);
  }

  #ir1 {
    background-color: #e4e4e4;

    padding-top: 7px;
    margin: 20px;


    /* margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px; */

    /* border: 1.5px solid; */

    /* border-top: 0;
    border-bottom: 0; */

    /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1; */
    box-shadow: 1px 5px 20px rgb(0 0 0 / 90%);
  }


  #ir3 {
    background-color: #e4e4e4;
    margin: 20px;

    /* margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px; */

    /* border: 1.5px solid; */

    /* border-top: 0;
    border-bottom: 0; */

    /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1; */
    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);

  }


  .col3 {
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-left: 30px;
  }

  .vl {
    border-left: 1px solid;
    height: 70px;
          background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
        background-image: -moz-linear-gradient(top, #fff, #000, #fff);
        background-image: -ms-linear-gradient(top, #fff, #000, #fff);
        background-image: -o-linear-gradient(top, #fff, #000, #fff);
        background-image: linear-gradient(top, #fff, #000, #fff);
  }

  .vl1 {
    border-left: 1px solid;
    height: 70px;
          background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
        background-image: -moz-linear-gradient(top, #fff, #000, #fff);
        background-image: -ms-linear-gradient(top, #fff, #000, #fff);
        background-image: -o-linear-gradient(top, #fff, #000, #fff);
        background-image: linear-gradient(top, #fff, #000, #fff);
  }

  hr {
    background-image: linear-gradient(90deg,transparent, rgb(0, 0, 0), transparent);  height: 1px;
    margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
  }

  #collapse3 {
    display: flex;
    flex-wrap: wrap;
  }

  .teksts {
    text-align: center;
    padding-bottom: 10px;
  }

  #collapse {
    background-color: transparent;
  }

  #virsr {
    color: #fff;
      /* background: transparent; */
      padding-top: 39px;
      padding-bottom: 5px;
      /* padding-right: 20px; */
      /* padding-left: 20px; */
      /* box-shadow: 0 7px 5px rgb(0 0 0 / 60%);
  }

  .balts {
    color: white;
  }

  .lielis {
    width: 35%;
    display: inline-block;
  }

  .form-control {
    border: 1px solid #000000;
    margin: auto;
  }

  .nav-toggle3 {
    border: none;
    background: none;
    color: white;
  }

  .lieliss {
    padding-top: 50px;
    width: 15%;
    display: inline-block;
  }

  #yess {
    padding-left: 100px;
    padding-top: 150px;
    color: white;
  }

  .container {
    /* padding-top: 350px; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .conv {
    display: none;
    padding-left: 100px;
    font-size: 16px;
    padding-top: 100px;
    color: white;
  }

  #inputFeet {
    border-radius: 7px;
  }

  #inputPounds {
    border-radius: 7px;
  }

  .convv {
    text-align: left;
    color: white;
  }

  .form-group {
    display: flex;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 38px;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
  }

  .navbar-brand {
    font-size: 35px;
  }

  .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}


  @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

  div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-1 {
    text-align: center;
    background-color: #ff666600;
  }

  .btnneed {
    line-height: 35px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }

  .btn-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }

  .btn-one span {
    transition: all 0.3s;
  }

  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }

  .btn-one:hover span {
    letter-spacing: 2px;
  }

  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }

  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
  }


  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }


  .btn:hover {
    color: #000000;
    text-decoration: none;
  }

  .navbar-dark .navbar-brand {
    color: rgb(0, 0, 0);
  }

  #dark1 {
    color: #000;
  }

  #dark2 {
    color: #000;
  }

  .navbar-expand-sm .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      justify-content: center;
  }



  #imgg {
    width: 160px;
    height: 90px;
    filter: invert(100%);
    transform: scale(-1, 1);
          -moz-transform: scale(-1, 1);
          -webkit-transform: scale(-1, 1);
          -o-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  }

  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    flex-direction: column;
  }

  #imggg {
  filter: saturate(255);
  }

  /* Dark mode styles */



  .mainit {
    padding-top: 120px;
    margin: 0;
    text-align: center;
    display: flex;
    padding-bottom: 80px;
    /* width: 80%; */
    flex-direction: column;
    align-items: center;
  }


  .form-group {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group1 {
    padding-top: 50px;
}

.form-group2 {
    padding-top: 50px;
    text-align: center;
}

.card-title {
    color: white;
}

#size1 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    float: right;
}

#size2 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size3 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    color: #000;
    float: right;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size4 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size5 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size6 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size7 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size8 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size9 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size10 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size11 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size12 {
    display: flex;
    align-items: flex-end;
    height: 31px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size13 {
  display: flex;
  align-items: flex-end;
  height: 31px;
  float: right;
  color: #000;
  background-color: #cdcdcd91;
  border-radius: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

#size14 {
  display: flex;
  align-items: flex-end;
  height: 31px;
  float: right;
  color: #000;
  background-color: #cdcdcd91;
  border-radius: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

#size15 {
  display: flex;
  align-items: flex-end;
  height: 31px;
  float: right;
  color: #000;
  background-color: #cdcdcd91;
  border-radius: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

#size16 {
  display: flex;
  align-items: flex-end;
  height: 31px;
  float: right;
  color: #000;
  background-color: #cdcdcd91;
  border-radius: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.selekts {
    display: flex;
    justify-content: center;
}

.invert .optioncolor {
    background-color: #4a4a4a;
    color: #ffffff;
}
.optioncolor {
    background-color: #dedede;
    color: #000000;
}


.form-control1 {
    background-color: #b6b6b600;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2;
    width: 50%;
    color: #000000;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.uuu {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-style: double;
    border-radius: 20px;
    background-color: #000000;
}

.uuu1 {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#log1 {
    display: flex;
}

#i111 {
    justify-content: center;
}

.btt {
    padding-top: 10px;
    text-align: center;
}

#melns {
    background-color: black;
}




  @media (min-width: 278px){
    .visslielaiscontainer {
        padding-top: 135px;
        padding-bottom: 135px;
    }}

    @media (min-width: 278px){
        .visslielaiscontainer {
            padding-top: 135px;
            padding-bottom: 135px;
        }}


.imagew {
    position: absolute;
    z-index: -1;
    /* filter: brightness(120%); */
  }


.btn-info {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

#kk {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.lala {
    padding-bottom: 2px;
    text-align: center;
}

.lala1 {
    text-align: center;
}
.card1-body {
    color: var(--bs-card-color);
}

.lala2 {
    text-align: center;
}

.lielss {
    color: white;
    padding-top: 50px;
}

.liels1 {
    padding-bottom: 2px;
}

.liels2 {
    padding-bottom: 2px;
}

.nav-toggle {
    width: 290px;
    height: 290px;
}

.nav-toggle2 {
    width: 290px;
    height: 290px;
}

.nav-toggle3 {
    width: 290px;
    height: 290px;
}



#p1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#collapse {
    text-align: center;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
}

#collapse4 {
  text-align: center;
  color:black;
}

#collapse2 {
    text-align: center;
    color:black;
}

#collapse3 {
    text-align: center;
    color:black;
}



#virsraksts {
    color: white;
    font-size: 50px;
}

#bb {
    float: left;
    border-color: #000000;
}

#nulll {
    color: rgb(0, 0, 0);
}


.box-1 {
    text-align: center;
    background-color: #ff666600;
  }

  .btn2 {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    /* line-height: var(--bs-btn-line-height); */
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  .btn-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }

  .btn-one span {
    transition: all 0.3s;
  }

  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }

  .btn-one:hover span {
    letter-spacing: 2px;
  }

  .btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }

  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgb(0 0 0 / 17%);
}

  .btn:hover {
    color: #000000;
    text-decoration: none;
  }

  .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  /* .card1, .card2, .card3 {
    width: 16rem; height: 34rem;
    --bs-card-bg: #646464;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  } */

  #cardd1 {
    width: 350px;
    border-radius: 5px;
    --bs-card-bg: #b6b6b6;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  }

  #cardd2 {
    width: 350px;
    border-radius: 5px;
    --bs-card-bg: #b6b6b6;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  }

  #cardd3 {
    width: 350px;
    border-radius: 5px;
    --bs-card-bg: #b6b6b6;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  }

  #cardd4 {
    width: 350px;
    border-radius: 5px;
    height: 700px;
    --bs-card-bg: #b6b6b6;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  }

.bak {    /* border: 1.5px solid;
    border-left: 0;
    border-bottom: 0;
    border-right:0; */
    /* border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 80%);
    border-image-slice: 1; */
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ffffff, #d1d1d1);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);

}

.invert .bak {
    background: linear-gradient(to right, #343434, #575757);

}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    font-weight: 900;
    text-align: center;
}

a1 {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

#textt {
    color: #fff;
    background-color: #00000058;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 7px 5px rgb(0 0 0 / 60%);
}

.viskopa {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px rgb(0 0 0 / 75%);
}

.zimoli {
    display: flex;
    padding-top: 20px;
}

.nikee {
    padding-left: 48px;
    padding-right: 48px;
}

.adidass {
    padding-right: 20px;
}



.vanss {
    padding-left: 20px;
}

.augsatext {

    background-color: #212529;
    background-color: #00000058;
    border-radius: 25px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    text-align: center;
}


.btn8 {
  line-height: 35px;
  /* height: 50px; */
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.btn8-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn8-one span {
  transition: all 0.3s;
}

.btn8-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn8-one:hover span {
  letter-spacing: 2px;
}

.btn8-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}


.btn8-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn8:hover {
  color: #000000;
  text-decoration: none;
}

.btn8-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


.row1 {
  justify-content: center;
  padding-top: 77px;
  padding-bottom: 86px;
  width: 100%;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
  /* padding-bottom: 20px; */
}

.listt {
    position: relative;
    display: block;
    padding: 10.5px;
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: #ebebeb00;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.list-group-item1 {
    /* border-radius: 25px;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius); */
    --bs-card-inner-border-radius: calc(0.375rem - );
    position: relative;
    display: block;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    --bs-list-group-item-padding-y: 0.3rem;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: #ebebeb00;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}




  /* .lielaiss {
        border: 1.5px solid;
    border-left: 0;
    border-right:0;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 95%);
    border-image-slice: 1;

  } */


  .col {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
  }

  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    /* --bs-card-inner-border-radius: calc(0.375rem - 1px); */
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid rgb(255, 255, 255);
    /* border-radius: var(--bs-card-border-radius); */
    flex-direction: column;
}


