#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background: linear-gradient(to right, #ffffff, #d1d1d1)
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}

@media(max-width:665px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
  }

  @media (max-width: 380px){
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }}

#rod2 {
  width: 120px;
  height: 120px;
  filter: brightness(0) invert(0);
}
.uu1 {
  padding-bottom: 19px;
  padding-top: 12px;
}


.de {
  padding-bottom: 10px;
}

#vajg1 {
  padding-top: 3px;
}

#vajg2 {
  padding-top: 3px;
}
.uu2 {
  padding-top: 12px;
}

.pb-4, .py-4 {
  padding-top: 0px!important;
}

.pb-4, .py-4 {
  padding-bottom: 0px!important;
}

.ded {


  display:flex;
}
#a1 {
  color: #000000;
  text-decoration: underline;
}


.navbarr .navbar-collapse {
    display: -ms-flexbox!important;
    /* display: flex!important; */
    align-items: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}


input {
  width: 0;
  height: 0;
}

.beigaas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}


svg {
  fill: none;
}

.imagew {
  position: absolute;
  z-index: -1;
  /* filter: brightness(120%); */
  object-fit: cover;
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffffff, #d1d1d1)
}




.btn-info {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

#ir2 {
  background-color: #e4e4e4;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
    flex-direction: column;
  float: left;
  margin: 20px;
  /* border: 1.5px solid; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);
}

#rod1 {
  width: 95px;
  height: 95px;
  filter: brightness(0) invert(0);

}

#rod3 {
  width: 135x;
  height: 135px;
  filter: brightness(0);
}

#virsr2 {
  padding-top: 10px;
}

#ir1 {
  background-color: #e4e4e4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  display: flex;
    flex-direction: column;
  /* border: 1.5px solid; */
  box-shadow: 1px 5px 20px rgb(0 0 0 / 90%);
}


#ir3 {
    display: flex;
    flex-direction: column;
  background-color: #e4e4e4;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1.5px solid; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);
}

.row1 {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
  /* padding-bottom: 20px; */
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.col3 {
  margin: 20px;
}

.vl {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

.vl1 {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

hr {
  background-image: linear-gradient(90deg,transparent, rgb(0, 0, 0), transparent);  height: 1px;
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
}

#collapse3 {
  display: flex;
  flex-wrap: wrap;
}

.teksts {
  text-align: center;
  padding-bottom: 70px;
}

#collapse {
  background-color: transparent;
}

#virsr {
  color: #fff;
    /* background: transparent; */
    padding-top: 20px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* box-shadow: 0 7px 5px rgb(0 0 0 / 60%);*/
}

#virsr2 {
  color: #fff;
    /* background: transparent; */
    padding-top: 10px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* box-shadow: 0 7px 5px rgb(0 0 0 / 60%);*/
}

.h4, h4 {
  font-size: 1.45rem;
}

.balts {
  color: white;
}

.lielis {
  width: 35%;
  display: inline-block;
}

.form-control {
  border: 1px solid #000000;
  margin: auto;
}

.form-control2 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-toggle3 {
  border: none;
  background: none;
  color: white;
}

.lieliss {
  padding-top: 50px;
  width: 15%;
  display: inline-block;
}

#yess {
  padding-left: 100px;
  padding-top: 150px;
  color: white;
}

.container {
  /* padding-top: 350px; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.conv {
  display: none;
  padding-left: 100px;
  font-size: 16px;
  padding-top: 100px;
  color: white;
}

#inputFeet {
  border-radius: 7px;
}

#inputPounds {
  border-radius: 7px;
}

.convv {
  text-align: left;
  color: white;
}



.form-group {
  display: flex;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 38px;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
}

.form-group3 {
  display: flex;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
}


.navbar-brand {
  font-size: 35px;
}

.navbar-nav {
  display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-end;
}


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

div[class*=box] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  text-align: center;
  background-color: #ff666600;
}

.btnneed {
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}


.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover {
  color: #000000;
  text-decoration: none;
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.navbar-dark .navbar-brand {
  color: rgb(0, 0, 0);
}

#dark1 {
  color: #000;
}

#dark2 {
  color: #000;
}




#imgg {
  width: 160px;
  height: 90px;
  filter: invert(100%);
  transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
  flex-direction: column;
}

#imggg {
filter: saturate(255);
}

/* Dark mode styles */


.mainit {
  padding-top: 128px;
  margin: 0;
  text-align: center;
  display: flex;
  padding-bottom: 128px;
  /* width: 80%; */
  flex-direction: column;
  align-items: center;
}
