body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffffff, #d1d1d1)
}

  .card-img-left {
    width: 45%;

    background-size: cover;
  }


  .pb-4, .py-4 {
    padding-top: 0px!important;
  }

  .pb-4, .py-4 {
    padding-bottom: 0px!important;
}

.card {
  position: relative;
  /* border-radius: 25px; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 20px;
}



  .bak {
    /* border: 1.5px solid;
    border-left: 0;
    border-bottom: 0;
    border-right:0; */
    /* border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 80%);
    border-image-slice: 1; */
    display: flex;
    justify-content: center;
}

.box-1 {
  text-align: center;
  background-color: #ff666600;
}

.btn7 {
  line-height: 35px;
  /* height: 50px; */
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.btn7-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn7-one span {
  transition: all 0.3s;
}

.btn7-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn7-one:hover span {
  letter-spacing: 2px;
}

.btn7-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}


.btn7-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn7:hover {
  color: #000000;
  text-decoration: none;
}

.btn7-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn2{
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  /* line-height: var(--bs-btn-line-height); */
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn2 {
    /* line-height: 35px; */
    /* height: 50px; */
    text-align: center;
    /* width: 250px; */
    cursor: pointer;
}

.btn2-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn2-one span {
  transition: all 0.3s;
}

.btn2-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn2-one:hover span {
  letter-spacing: 2px;
}

.btn2-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn2-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgb(0 0 0 / 17%);
}

.btn2:hover {
  color: #000000;
  text-decoration: none;
}

.btn2-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn2-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn2-one span {
  transition: all 0.3s;
}

.btn2-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn2-one:hover span {
  letter-spacing: 2px;
}

.btn2-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn2-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn2:hover {
  color: #000000;
  text-decoration: none;
}

.btn2 {
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.btn3 {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  /* line-height: var(--bs-btn-line-height); */
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#a1 {
  color: #000000;
  text-decoration: underline;
}

.btn2-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


.imagew {
  position: absolute;
  /* filter: brightness(120%); */
  z-index: -1000;
  object-fit: cover;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.fs5 {
  font-size: 35px;
}

.mb5 {
  margin-bottom: 30px;
}

#shadoww {
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 75%);
}

.form-control1 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-floating>.form-control1, .form-floating>.form-control1-plaintext {
  padding: 1rem 0.75rem;
}

.form-floating>.form-control1, .form-floating>.form-control1-plaintext, .form-floating>.form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}

#carder {
    background: #e9e9e9;
}


/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */


/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #d7d7d7;
  color: #000;
  position: absolute;
  padding: 10px;
  /* margin-top: 10px; */
  width: inherit;
  right: 50px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0px 0px 11px 1px rgb(0 0 0 / 75%);
  display: none;
}

#message p {
  padding: 1px 2px 1px 0px;
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: rgb(0, 135, 0);
  margin: 0;
}

.valid:before {
  position: relative;
  margin: 0;
  content: "✔";
  padding-right: 10px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: rgb(0, 0, 0);
  margin: 0;
}

.invalid:before {
  position: relative;
  /* left: -8px; */
  margin: 0;
  content: "✖";
  padding-right: 10px;
}

.invert #nulll {
  color: rgb(255, 255, 255);
}

@media (max-width: 575px){
    .blade {
        height: 910px;
    }}

    @media (min-width: 575px){
        .blade {
            height: 910px;
        }}
