
@media (max-width: 992px){
    .blade {
        height: 1380px;
    }}


    @media (min-width: 992px){
        .blade {
            height: 910px;
        }}

        .invert .card {
            background-color: #464646;
        }
