.p-3 {
    padding: 0rem!important;
    border-radius: 10px;

}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.25rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 17%);
}

.invert .breadcrumb {
    background: #575757;
}

#cardpicture {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 17%);
}

#cardinfo {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 17%);
    min-height: 354px;
}

.invert #cardpicture {

    color: #ffffff;
    background:#575757;
}

.invert #cardinfo {
    color: #ffffff;
    background: #575757;
}

.invert .text-muted {
    color: #ffffff92!important;
}

.invert #a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.invert .breadcrumb-item.active {
    color: #9a9a9a;
}

.alert {
    width: inherit;
}

#saveChanges_Button {
    display: none;
}

#readonly {
    display: block;
}

.invert #textmuted {
    border-color: #656565;
    color: white;
}


#a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb-item.active {
    color: #0000007d;
}

.invert #profilepic {
    filter: brightness(20%) invert(1);
}

#profilepic {
    filter: brightness(50%);
}


        .lielaiscontainer {
            background: #e9e9e9;padding: 30px;border-radius: 20px;
        }

        .invert .lielaiscontainer {
            background:#464646;;padding: 30px;border-radius: 20px;

        }



.imagew {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    /* filter: brightness(120%); */
  }


  @media (max-width: 992px){
    .blade {
        height: 1380px;
    }}


    @media (min-width: 992px){
        .blade {
            height: 910px;
        }}
